@charset "UTF-8";
/* CSS Document */

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/******************
Defaults
*******************/

*, *::before, *::after
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body{
	font-family:Arial, Helvetica, sans-serif;
	background:#cecece;
}
body{
	font-size: 62.5%;
}
h1, h2, h3, h4{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding: 1.0em 0;	
}
h1{
	font-size: 3.6em;	
	color: #FFC200;
}
h2{
	font-size: 2.4em;
	color: #020D36;
}
h3{
	font-size: 1.8em;
}
h4{
	font-size: 1.5em;
}
p, li, label{
	font-size: 1.5em;	
	padding: 0.8em 20px;
}
.formbox label, .formbox input, .formbox select {
float: left;

width: 50%;
padding-right: 50px;
}
label {
text-align: right;
}

.main > p, .main > form, h1, h2, footer > p {
max-width: 500px;
margin: 0 auto;
}
.main > p
{
background-color: #fff;
}

.main > form {
margin: 2em auto 0;
}
.main > p, .main > form {
border: 1px solid #333;
}
.formbox input, .formbox select {
    margin-top: .7em;
    padding: 0.1em 0px;
    width: 40%;
}
.formbox .feedback {
float: left;
clear: left;
width: 100%;
margin: 0 auto;
}

.feedback.error {
background-color: #ff9f9f;
}
.feedback.success {
background-color: #9fff9f;
}

.feedback p {
margin: 0 auto;
max-width: 450px;
width: 100%;
text-align: center;
}
html .formbox {

display: block;

clear: left;
width: 100%;
max-width: 500px;
margin: 0 auto;


background-color: #eee;

}

.formbox.buttons {
    text-align: center;
    padding: 1em;
}

#btnSubmit {
margin: 0 auto;
float: none;
width: 130px;
background-color: #FAA328;
color: #111;
font-weight: bold;
border: 1px solid #222;
cursor: pointer;
}

#btnSubmit:hover
{
    border-right-width:2px;
    border-bottom-width:3px;
    width: 131px;
    margin-top:-2px;
}
#btnSubmit:active
{
    border:1px solid #222;
    margin: 0 auto;
       border-left-width: 2px;    
       border-top-width: 3px;
       width: 131px;
       margin-bottom: -2px; 
}

.formbox:after, .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.formbox, .clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .formbox, * html .clearfix { height: 1%; }
* html .formbox, .clearfix { display: block; }
/* close commented backslash hack */


/******************
Layout
*******************/

.wrapper{
	max-width: 1180px;
	width: 95%;
	margin:0 auto;
	border:1px solid #333;
}
.masthead{
	background: #666;
	color:#fff;
	padding-bottom: 20px;
	border-bottom: 6px solid #333;
}
.footer{
	background: #222;
	color:#fff;
	padding-top: 20px;
	border-top: 6px solid #333;
}

.main > .feedback {
margin-bottom: 2em;
border: 1px solid #222;
border-width: 1px 0px;
}

.main > .feedback.error {
background-color: #FD4D4D;
color: #000;
}

/******************
	Form
*******************/


/**

Colours

***/

header
{
background-color:#CC5768;
}
header
{
background-color:#B23A4B;
}
header
{
background-color:#FFF85A;
}
section.main
{
background-color: #53ACE7;
padding-bottom: 2em;
}
header
{
background-color:#B2AD2D;
}

header.masthead {
background-color: #B23A4B;
}
